[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
zbar-py = "*"
opencv-python = "*"
pillow = "*"
python-musicpd = "*"
reportlab = "*"

[dev-packages]

[requires]
python_version = "3.4"
