[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
zbar-py = "*"
opencv-python = "*"
pillow = "*"
python-musicpd = "*"
reportlab = "*"
qrcode = "*"
pymaging = {git = "git://github.com/ojii/pymaging.git"}
pymaging-png = {git = "git://github.com/ojii/pymaging-png.git"}

[dev-packages]

[requires]
python_version = "3.4"
